# List Data Structure

#we can create list by using []
#creating list by list([])
#we are going to see some errors and i am not going to leave like that for best practices
#list is mutable

In [7]:
ls = [1,3,4,'hello','a',10]
print(ls)
print(type(ls))

[1, 3, 4, 'hello', 'a', 10]
<class 'list'>

In [13]:
lst = list([1,3,4,'name','age'])
print(lst)
print(type(lst))

[1, 3, 4, 'name', 'age']
<class 'list'>

#list indeing same as strings

In [20]:
lst = list([1,3,4,'name','age'])
lst[4]

'age'

In [22]:
lst = list([1,3,4,'name','age'])
lst[2:5]

[4, 'name', 'age']

In [24]:
lst[2::1]

[4, 'name', 'age']

In [26]:
lst[1::]

[3, 4, 'name', 'age']

In [28]:
lst[-1::-1]

['age', 'name', 4, 3, 1]

#list concatenation

In [34]:
numbers1 = [1,2,3,4]
numbers2 = [5,6,'age','name']
total_numbers = numbers1 + numbers2
print(total_numbers)

[1, 2, 3, 4, 5, 6, 'age', 'name']

In [38]:
#list repetation
numbers1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [40]:
#list packing
a = 10
b = 20
c = True
lst = [a,b,c]
print(lst)

[10, 20, True]

In [46]:
#list unpacking
lst = list([1,3,4,'name','age'])
a,b,c,d,e = lst
print(a)
print(b)
print(c,d,e)

1
3
4 name age

# List methods

In [51]:
#len()
lst = list([1,3,4,'name','age'])
len(lst)

5

In [55]:
#index()
lst = list([1,3,4,'name','age'])
lst.index('age')

4

In [63]:
#max  returns maximum number
lstNumbers = [1,3,4,6,10]
print(max(lstNumbers))
lst = list([1,3,4,'name','age'])
max(lst)

10

TypeError: '>' not supported between instances of 'str' and 'int'

In [69]:
#min
lstNumbers = [1,3,4,6,10]
min(lstNumbers)

1

In [71]:
#sum returns sum of list
sum(lstNumbers)

24

#Different methods to add values : appedn(),extend(),insert()
#Different methods to remove values : remove(),pop(),clear()

In [92]:
#append: It is used to add only one element at end of the list
lstNumbers = [1,3,4,6,10]
lstNumbers.append('age')
print(lstNumbers)
lstNumbers.append([1,2,34]) # we can a list in it making it one value 
print(lstNumbers)
lstNumbers.append(1,2,3)

[1, 3, 4, 6, 10, 'age']
[1, 3, 4, 6, 10, 'age', [1, 2, 34]]

TypeError: list.append() takes exactly one argument (3 given)

In [114]:
#extend():It is used to add one or more element at end of list or tuple using list of data but it adds like noraml values
lstNum = [1,3,4,56,'age']
lstNum.extend([1,3])
print(lstNum)
lstNum.extend(('age','name','24'))
print(lstNum)
lstNum.extend(10) # don't forgot to use list[] or tuple() to extend or else error

[1, 3, 4, 56, 'age', 1, 3]
[1, 3, 4, 56, 'age', 1, 3, 'age', 'name', '24']

TypeError: 'int' object is not iterable

In [130]:
#insert: It is used to add only one element at required position or index
lstN = [1,3,5,6,7]
lstN.insert(3,'age') # position and value
print(lstN)
lstN.insert(3,True)
print(lstN)
lstN.insert(True,True)
print(lstN)

[1, 3, 5, 'age', 6, 7]
[1, 3, 5, True, 'age', 6, 7]
[1, True, 3, 5, True, 'age', 6, 7]

#remove: it is used to delete a specific element from list
#It allows only one element,if the argument in the list then it will delete the element
#if the argument is not there it will return typeerorr

In [138]:
lst = [10,20,30,5,'age']
lst.remove(10)
print(lst)
lst.remove('age')
print(lst)
lst.remove()

[20, 30, 5, 'age']
[20, 30, 5]

TypeError: list.remove() takes exactly one argument (0 given)

#POP:
#It is used to delete any specific elements by using its index number

In [144]:
lst_num = [10,2,5,6,7]
print(lst_num.pop(2)) # removes element by index value
print(lst_num)
lst_num.pop(3)
print(lst_num)
lst_num.pop(4)

5
[10, 2, 6, 7]
[10, 2, 6]

IndexError: pop index out of range

In [148]:
#Clear : clear all list elements
lst = [1,'age',4,6]
lst.clear()
lst

[]

In [154]:
#python list supports item assignment and item deletion
lst = [1,2,3,4,5,6]
lst[0] = 100 #item assignment
print(lst)

del lst[1] #index used to deletion
print(lst)

[100, 2, 3, 4, 5, 6]
[100, 3, 4, 5, 6]

In [176]:
fruits = ['banana','watermelon','graphs']
print(fruits)
#fruits[2:] = "banana" # just like loop upto banana

['banana', 'watermelon', 'graphs']

In [178]:
fruits.sort()
print(fruits)

['banana', 'graphs', 'watermelon']

In [180]:
fruits.reverse()
fruits

['watermelon', 'graphs', 'banana']

In [182]:
#Iteraing over list
numbers = [10,20,30,40,50,60]
for i in numbers:
    print(i)

10
20
30
40
50
60

In [184]:
for index,numbers in enumerate(numbers):
    print(index,numbers)

0 10
1 20
2 30
3 40
4 50
5 60

In [198]:
#List Comprehension
lst = []
numbers = [10,20,30,40,50,60]
for i in numbers:
    lst.append(i**2)
print(lst)

[100, 400, 900, 1600, 2500, 3600]

In [202]:
[i**2 for i in numbers]

[100, 400, 900, 1600, 2500, 3600]

In [204]:
# Basic list comprehension (expression for item in iterable)
[i**2 for i in numbers]

[100, 400, 900, 1600, 2500, 3600]

In [208]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [218]:
for i in range(1,10):
    if i % 2 == 0:
        print(i)

print([i for i in range(1,10) if i%2 == 0])

2
4
6
8
[2, 4, 6, 8]

In [246]:
# nested list comprehension
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]
lst = []
for i in lst1:
    for j in lst2:
        print([i,j])

[1, 5]
[1, 6]
[1, 7]
[1, 8]
[2, 5]
[2, 6]
[2, 7]
[2, 8]
[3, 5]
[3, 6]
[3, 7]
[3, 8]
[4, 5]
[4, 6]
[4, 7]
[4, 8]

In [238]:
lst = [[i,j] for i in lst1 for j in lst2]
print(lst)

[[1, 5], [1, 6], [1, 7], [1, 8], [2, 5], [2, 6], [2, 7], [2, 8], [3, 5], [3, 6], [3, 7], [3, 8], [4, 5], [4, 6], [4, 7], [4, 8]]

In [248]:
#length of each words
fruits = ['apple','banana','watermelone','graphs']
for i in fruits:
    print(len(i))

5
6
11
6

In [250]:
leng = [len(i) for i in fruits]
print(leng)

[5, 6, 11, 6]

# Problems

In [257]:
#sum of list elements
lst = [1,2,3,4,5]
print(sum(lst))

sum = 0
for i in lst:
    sum += i
print(sum)

15
15