#### Map Function in Python

The map() function applies a given function to all items in an input list(or any other iterable) and returns a map object (an iterator).This is particularly useful for transforming data in a list comprehensively.

In [1]:
def square(x):
  return x * x

square(10)

100

In [ ]:
numbers = [1,2,3,4,5]
print(list(map(square,numbers)))
# lambda with map
list(map(lambda x : x * x,numbers))

[1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
## Map Multiple iterables

numbers1 = [1,2,3]
numbers2 = [4,5,6,9,10] # add upto same positions

add_numbers = list(map(lambda x,y : x+y,numbers1,numbers2))
print(add_numbers)

[5, 7, 9]

In [12]:
## map() to convert a list of strings to integers

#use map to convert strings to integers

str_numbers = ['1','2','3','4']
print(list(map(int,str_numbers))) #int convert to integers type

print(list(map(float,str_numbers)))

[1, 2, 3, 4]
[1.0, 2.0, 3.0, 4.0]

In [20]:
words = ['apple','banana','cherry']
print(list(map(str.upper,words)))

print(list(map(str.title,words)))
print(list(map(str.isalpha,words)))

['APPLE', 'BANANA', 'CHERRY']
['Apple', 'Banana', 'Cherry']
[True, True, True]

In [ ]:
def get_name(person):
  return person['name']

people = [
  {'name':'Madhava','age':22},
  {'name':'ai','age':3}
]

list(map(get_name,people))

['Madhava', 'ai']