dict data structure

In [ ]:
#key value paris enclosed by {} and {key:value} and we can perform CURD opeartions
emp = {'name':'sai','salary':10000 , 'company':'TCS'}
print(emp)
type(emp)

{'name': 'sai', 'salary': 10000, 'company': 'TCS'}

dict

In [3]:
#dict doesn't allow duplicate pairs
employeeadata = { 'name' : 'madhava', 'salary':1000 , 'company': 'tcs', 'salary': 1000}
print(employeeadata)

{'name': 'madhava', 'salary': 1000, 'company': 'tcs'}

##

In [ ]:
# see the differnce now declearing last pair takes has input
employeeadata = { 'name' : 'madhava', 'salary':1000 , 'company': 'tcs', 'salary': 10}
print(employeeadata)

{'name': 'madhava', 'salary': 10, 'company': 'tcs'}

In [5]:
#doesn't allow duplicate keys
employeeadata = { 'name' : 'madhava', 'salary':1000 , 'company': 'tcs', 'salary': 3000}
print(employeeadata)

{'name': 'madhava', 'salary': 3000, 'company': 'tcs'}

In [6]:
#Dict allows duplicate values
employeeadata = { 'name' : 'madhava', 'salary':1000 , 'company': 'tcs', 'bonus': 1000}
print(employeeadata)

{'name': 'madhava', 'salary': 1000, 'company': 'tcs', 'bonus': 1000}

In [7]:
#CURD opeartions using dict
#creating
fruits = {'name':'Apple','cost':200, 'pickup': 'hyderbad'}
print(fruits)

{'name': 'Apple', 'cost': 200, 'pickup': 'hyderbad'}

In [8]:
#updating the value by specific key
fruits['pickup'] = 'Chennai'
fruits['cost'] = 150
fruits['drop'] = 'Banglore' # if the key is not found it will create the key value pair
print(fruits)

{'name': 'Apple', 'cost': 150, 'pickup': 'Chennai', 'drop': 'Banglore'}

In [9]:
#retrive--> Getting data from dict using key
print(fruits['drop'])
print(fruits['cost'])
print(fruits.get('name'))
print(fruits.get('pickup'))

Banglore
150
Apple
Chennai

In [10]:
#deleting--> deleting the pair from dict using pop()
print(fruits.pop('cost'))
print(fruits)
del fruits['name']
print(fruits)

150
{'name': 'Apple', 'pickup': 'Chennai', 'drop': 'Banglore'}
{'pickup': 'Chennai', 'drop': 'Banglore'}

In [11]:
fruits.pop('drop')
print(fruits)

{'pickup': 'Chennai'}

In [12]:
##there is another method using popitem but it will delete only last pair no arguments required
fruits.popitem()

('pickup', 'Chennai')

In [13]:
fruits

{}

In [14]:
fruits.popitem('name')

TypeError: dict.popitem() takes no arguments (1 given)

In [ ]:
## dictionary functions: len(),keys(),values(),item(),update(),fromkeys(),
details = { 'name':'madhava','age':22,'location':'Hyderbad','salary':00}
details

{'name': 'madhava', 'age': 22, 'location': 'Hyderbad', 'salary': 0}

In [ ]:
#len()--> returns all pairs length in dict
len(details)

4

In [ ]:
#keys returns all key values
details.keys()
details.keys()

dict_keys(['name', 'age', 'location', 'salary'])

In [ ]:
#values: returns all values from dict
details.values()
details.values()

dict_values(['madhava', 22, 'Hyderbad', 0])

In [ ]:
#items--> returns all pairs in tuple format
details.items()

dict_items([('name', 'madhava'), ('age', 22), ('location', 'Hyderbad'), ('salary', 0)])

In [ ]:
#update->it is used to update dict values with another dict like merging
details = { 'name':'madhava','age':22,'location':'Hyderbad','salary':00}
emp_name = {'company':'tcs','domain':'developer'}
details.update(emp_name) # updating to details
print(details)
print(emp_name)

{'name': 'madhava', 'age': 22, 'location': 'Hyderbad', 'salary': 0, 'company': 'tcs', 'domain': 'developer'}
{'company': 'tcs', 'domain': 'developer'}

In [ ]:
#fromkeys: it is used to implement a dict with the help of another object like list,tuple,strings,set
lst = [1,2,4,6,7]
numbers = {}.fromkeys(lst)
print(numbers)

name = 'madhava'
name_dict = {}.fromkeys(name,1)
print(name_dict)

{1: None, 2: None, 4: None, 6: None, 7: None}
{'m': 1, 'a': 1, 'd': 1, 'h': 1, 'v': 1}

In [15]:
## shallow copy
details = { 'name':'madhava','age':22,'location':'Hyderbad','salary':00}

details_copy = details
print(details)
print(details_copy)

{'name': 'madhava', 'age': 22, 'location': 'Hyderbad', 'salary': 0}
{'name': 'madhava', 'age': 22, 'location': 'Hyderbad', 'salary': 0}

In [ ]:
details['name'] = 'madhavarb01'
print(details)
print(details_copy)

{'name': 'madhavarb01', 'age': 22, 'location': 'Hyderbad', 'salary': 0}
{'name': 'madhavarb01', 'age': 22, 'location': 'Hyderbad', 'salary': 0}

In [ ]:
## shallow copy using copy method
details_copymethod = details.copy()
print(details)
print(details_copymethod)

{'name': 'madhavarb01', 'age': 22, 'location': 'Hyderbad', 'salary': 0}
{'name': 'madhavarb01', 'age': 22, 'location': 'Hyderbad', 'salary': 0}

In [ ]:
# when we use variable method for copying data it is always going to update but when we use copy method it is ot going to update from direct that's just going to cpoy
details['name']='98667Number'
print(details_copymethod)
print()
print(details)

{'name': 'madhavarb01', 'age': 22, 'location': 'Hyderbad', 'salary': 0}

{'name': '98667Number', 'age': 22, 'location': 'Hyderbad', 'salary': 0}

In [ ]:
### Iterating Over Dictionaries
## You can use loops to iterate over dictionatries, keys,values,or items

#iteratig over keys
for keys in details.keys():
  print(keys)

name
age
location
salary

In [ ]:
## iterating over values
for values in details.values():
  print(values)

98667Number
22
Hyderbad
0

In [ ]:
## iterate over key value pairs
for keys,values in details.items():
  print(f"{keys}:{values}")

name:98667Number
age:22
location:Hyderbad
salary:0

In [ ]:
## Nested Dictionaries
students = {
  'student1':{'name':'madhava','age':22},
  'student2':{'name':'yogi','age':20}
}
print(students)

{'student1': {'name': 'madhava', 'age': 22}, 'student2': {'name': 'yogi', 'age': 20}}

In [ ]:
## access nested dictionaries elemets
print(students['student1']['name'])
print(students['student2']['age'])

madhava
20

In [ ]:
students.items()

dict_items([('student1', {'name': 'madhava', 'age': 22}), ('student2', {'name': 'yogi', 'age': 20})])

In [ ]:
## iterating over nested dictionaries

for student_id,student_info in students.items():
  print(f"{student_id}:{student_info}")
  for key,value in student_info.items():
    print(f"{key}:{value}")

student1:{'name': 'madhava', 'age': 22}
name:madhava
age:22
student2:{'name': 'yogi', 'age': 20}
name:yogi
age:20