Strings can be created by using single quotes,double quotes and triple quotes

In [255]:
a = 'madhava'
b = 'python'
c = """Madhava is learing python
can you help hime to study the python"""
print(a)
print(b)
print(type(a))

madhava
python
<class 'str'>

In [388]:
#excape characters
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (3941449728.py, line 2)

In [392]:
txt = "We are the so-called \"Vikings\" from the north." # backslash \
print(txt)

We are the so-called "Vikings" from the north.

In [400]:
txt = "we are the so-called \nVikings from the north" # \n next line
print(txt)

we are the so-called
Vikings from the north

In [404]:
text = "we are \\Vikings from north"
print(text)

we are \Vikings from north

In [411]:
text = "we are \rVikings from north"
print(text) # return after the \r string

Vikings from north

we can get the characters in string using index number 'madhava' index numbers tarts from 0 
here str[0]= 'm',str[1]='a' so on remember that space also hhave index number because it is also an string in strings
IN REVERSE INDEX also availiable from -1 to end like , -1,-2,-3 str[-1] = 'a' last character from madhava

In [257]:
name = "madhava"
name[0]

'm'

In [258]:
name[2]

'd'

In [259]:
name[-1]

'a'

In [260]:
name[-3]

'a'

In [261]:
name[-6]

'a'

In [262]:
name[10] # index value out of range

IndexError: string index out of range

we can loop through an index value to print all index values

In [298]:
for char in 'madhava':
    print(char)

m
a
d
h
a
v
a

we can use length method to print how many characters in string spaces also inculded

In [300]:
name = 'Learning Python'
len(name)

15

we can check some part of the string word is present in full staring are not by using in,not in function

In [302]:
text = 'The best thing in life is free!'
'free' in text
print('best' in text)

True

In [304]:
print('name' not in text)

True

In [306]:
print('some' in text)

False

In [308]:
#using condition
if 'free' in text:
    print(True)

True

String Slicing: slicing means getting set of characters using start and end index numbers

In [310]:
txt = 'learing python is fun'
#0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21 positive index values
#-22,-21,-20,-19,-18,-17,-16,-15,-14,-13,-12,-11,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1  negative index values
print(txt[2:6])
print(txt[5:10])
print(txt[:20]) # from staring to end index number
print(txt[0:]) # from starting to ending

arin
ng py
learing python is fu
learing python is fun

In [311]:
#negative indexs
print(txt[-4:-10])#prints nothing beacuse backwards index means emptyset(+1) is defualt step -4+1 = -3 but slicing is to right

In [312]:
print(txt[-10:])

hon is fun

In [313]:
print(txt[:-1])

learing python is fu

In [314]:
#slicing with (::)
txt = 'learing python is fun'
print(txt[3::2]) # start and step to skips values
numbers = ['1','2','3','4','5','6']
print(numbers[1::2]) 
print(numbers[::2])

print(txt[-1::-1]) # reverse of string using slicing with (::)

rn yhni u
['2', '4', '6']
['1', '3', '5']
nuf si nohtyp gnirael

In [315]:
txt = 'learing python is fun'
print(txt[-1::-2])

nfs otpgial

STring concatenation it is a process of uisng + opeartor to combine two strings

In [317]:
name = 'madhava'
age = "20"
print(name+' age is ' + age)

madhava age is 20

In [318]:
name = 'yogi'
age = 23 
print(name+" age is "+age) # concates only stings with strings not with int type

TypeError: can only concatenate str (not "int") to str

to overcome above problem we have f strings use flower brackets for variable names

In [340]:
print(f'{name} age is {age}')

yogi age is 23

#String repetation:It is a process of using * operator between one int pbject and str to repeat the same string multiple times

In [342]:
name="madhava"
print(name*2)
print(name*5)

madhavamadhava
madhavamadhavamadhavamadhavamadhava

In [343]:
#Sstring packing: It is the process of gathering/grouping the different stings to one string
#String unpackin: It is the process of ungrouping one string to different strings

In [344]:
a = 'M'
b = 'A'
c = 'D'
moviename = a+b+c
print(moviename)

MAD

In [345]:
movie_name = "".join([a,b,c]) # paacking by using join method
print(movie_name)
lis = ['mad','MAD','single']
list_item = "    ".join(lis)
print(list_item)
move = "#".join([a,b,c])
print(move)

MAD
mad    MAD    single
M#A#D

In [346]:
#string unpacking
name = 'madhava'
a,b,c,d,e,f,g = name
print(a)
print(b)
print(a,b,c,d,e,f,g)

m
a
m a d h a v a

In [347]:
name = 'python'
a,b,c,d = name #variable and length of string must be same otherwise it is not support to unpacking too many values to unpack error

ValueError: too many values to unpack (expected 4)

#string methods
len(),str.count(), str.index('p'),str.lower().str.upper(),str.swapcase(),str.islower(),str.isupper(),str.startswith(),

In [364]:
name = 'madhava'
print(len(name))
print(name.count('a'))
print(name.count('h')) # returns how many times it is repeated in string

7
3
1

In [366]:
#str.index returns index value of specific charcter
name = "madhava"
name.index('m')
print(name.index('a')) # returns first index value
print(name.index('a'))

1
1

In [368]:
#lower: converts the given str to lower case
name = 'PYTHON is Interpreter language'
name.lower()

'python is interpreter language'

In [370]:
#upper: converts to uppercase
name.upper()

'PYTHON IS INTERPRETER LANGUAGE'

In [372]:
#swapcase swap lower case to upper and upper to lower case
name.swapcase()

'python IS iNTERPRETER LANGUAGE'

In [374]:
#islower checks the given string is lower  case or not
movie = 'darling'
print(movie.islower())

names = 'darling ' #space is excluded
print(names.islower())

final  = 'Destination'
print(final.islower())

True
True
False

In [376]:
#isUpper same check given stting is uppeercase pr not
name = "MADHAVA"
print(name.isupper())
learning = "trying to Learn PYTHON"
print(learning.isupper())

True
False

In [378]:
#startswith: It is used to check a specific string startswith specific character or not
name = "madhava"
print(name.startswith('m'))
print(name.startswith("M")) #case senstive
print(name.startswith("mad"))

True
False
True

In [380]:
#endswith: Is is used to check a specific character endswith or not
name = "Python Is tough"
print(name.endswith('h'))
print(name.endswith('ugh'))
print(name.endswith('hgu'))

True
True
False

#split: It is used to split the string based on special delimietr(means charcter,special symbol,digits etc)
#it allows only one single delimiter at a time
#it will result in list format 
#if specifed delimiter is not avaiable then it will not break,it will take complete str as single string

In [382]:
st = 'python full stack'
print(st.split()) # returns in list format
print(st.split('&')) # there is no & symbol so it will not break th string to words. Takes as single string
print(st.split('a'))
print(st.split('ll'))
print(st.split('a','b'))

['python', 'full', 'stack']
['python full stack']
['python full st', 'ck']
['python fu', ' stack']

TypeError: 'str' object cannot be interpreted as an integer

In [362]:
#replace: It is used to replace a part of the main staring with specific sub string
name = "Python for data science"
print(name.replace('a','A'))
print(name.replace(" ",'_'))
print(name.replace("a","AAA",1))
print(name.replace("o","O",1)) # first one

Python for dAtA science
Python_for_data_science
Python for dAAAta science
PythOn for data science

In [384]:
#title: It will covert every first characer of the words to upper case
st = 'python for data science and ai/ml'
st.title()

'Python For Data Science And Ai/Ml'

In [386]:
#Capitalize: It is used to convert the first character of entire string to uppercase and remaining to lower
st = 'python for Data Science and AI/ML'
st.capitalize()

'Python for data science and ai/ml'

# Problems

In [414]:
#1.Reverse a string
strname = 'madhava'
print(strname[-1::-1])

avahdam

In [428]:
#2.Palindrome:means same from left to right and right to left example (MOM,madam)
strname = str(input("Enter The plindrome: "))
if strname == strname[-1::-1]: 
    print(f"yes {strname} is palindrome")
else:
    print(f"NO {strname} is not palindrome")

Enter The plindrome:  madam

yes madam is palindrome

In [454]:
#3.Count vowels in string
name = "mAdhava"
vowels = ['a','e','i','o','u']
count = 0
for char in name:
    if char.lower() in vowels: #changing char to lower before checking
        count += 1
print(count)

3

In [442]:
#4.compare two strings is same or not
name = 'madhava'
name2 = 'madhava'
name3 = 'reddy'
if name == name3: # change to name2 to check second name is true
    print(True)
else:
    print(False)

False

In [448]:
#5.Count words in entire string

ram = 'learing foundations are important'
words = (ram.split(" "))
print(words)
print(len(words))

['learing', 'foundations', 'are', 'important']
4

In [452]:
#6.Remove duplicates characters in string
lang = 'pythonprogramming'
newlang = ""
for i in lang:
    if i not in newlang:
        newlang += i
print(newlang)

pythonrgami

In [458]:
#7.count consonants in string
lang = 'python'
vowels = ['a','e','i','o','u'] # writing consonants is long so check not in using condition
count = 0
for i in lang:
    if i not in vowels:
        count += 1
print(count)

5

In [488]:
#8.anagram same character in two strings
s = 'cat'
t = 'rat'
if len(s) != len(t):
    print(f"{s} and {t} are not anagrams")
elif sorted(s) == sorted(t):
    print(f"{s} and {t} are anagrams")
else:
    print(f"{s} and {t} are not anagrams")

cat and rat are not anagrams

In [506]:
#9.substring problem
a = 'abcde'
b = 'aec'
c = a[::]
if c == b:
    print(True)
else:
    print(False)

False